<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="recaptcha_frontend">
            <group id="bypass" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Bypass Storefront ReCaptcha</label>
                <field id="secret_key" translate="label" sortOrder="100" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <comment><model>RocketWeb\CaptchaBypass\Config\Comment</model></comment>
                </field>
            </group>
        </section>
    </system>
</config>
